.header {
    background-color:#333333;
  }

.nav {
    margin: 0;
    padding: 25px 0;
  }
  
  .nav li {
    display:inline;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform:uppercase;
    margin-left:10px;
    margin-right:10px;

    a{
        text-decoration: none;
        color: #fff;
    }
  }