<app-navbar></app-navbar>
<main>
  <div class="left-page">
    <img src="https://www.globalsign.com/application/files/7416/3763/0034/General_Banner_WhatisIOT_4_APAC_2021_11_22.jpg"/>
  </div>
  <div class="right-page">
    <h2>[ 3 ]</h2>
    <h1>Internet of Things</h1>


    <!-- Information about IoT -->
    <h2>Internet of Things (IoT)</h2>
    <p>
      La Internet de las cosas (IoT) describe la red de objetos físicos ("cosas") que llevan incorporados sensores, software y otras tecnologías con el fin de conectarse e intercambiar datos con otros dispositivos y sistemas a través de Internet. Estos dispositivos van desde objetos domésticos comunes hasta herramientas industriales sofisticadas. Con más de 7 mil millones de dispositivos IoT conectados en la actualidad, los expertos prevén que este número aumentará a 10 mil millones para el 2020 y 22 mil millones para el 2025.
    </p>
    <p>
      <strong>¿Por qué es tan importante el Internet de las cosas (IoT)?</strong><br>
      En los últimos años, IoT se ha convertido en una de las tecnologías más importantes del siglo XXI. Ahora que podemos conectar objetos cotidianos, electrodomésticos, coches, termostatos, monitores de bebés, a Internet a través de dispositivos integrados, es posible una comunicación fluida entre personas, procesos y cosas. Mediante la informática de bajo costo, la nube, big data, analítica y tecnologías móviles, las cosas físicas pueden compartir y recopilar datos con una mínima intervención humana. En este mundo hiperconectado, los sistemas digitales pueden grabar, supervisar y ajustar cada interacción entre las cosas conectadas. El mundo físico y el digital van de la mano y cooperan entre sí.
    </p>
    <p>
      <strong>¿Qué tecnologías han hecho posible el IoT?</strong><br>
      Si bien la idea de IoT existe desde hace mucho tiempo, una colección de avances recientes en una serie de tecnologías diferentes la ha hecho práctica.
    </p>
    <ul>
      <li><strong>Conectividad:</strong> Una gran cantidad de protocolos de red para Internet ha facilitado la conexión de sensores a la nube y a otras cosas para lograr una transferencia de datos eficiente.</li>
      <li><strong>Plataformas de informática en la nube:</strong> El aumento en la disponibilidad de plataformas en la nube permite a las empresas y a los consumidores acceder a la infraestructura que necesitan para escalar sin tener que administrarlo todo.</li>
      <li><strong>Inteligencia artificial (IA) conversacional:</strong> Los avances en las redes neuronales han llevado el procesamiento del lenguaje natural (PLN) a los dispositivos IoT y los han hecho atractivos, asequibles y viables para uso doméstico.</li>
    </ul>

    <p>
      <strong>Ejemplos de redes de IoT en acción</strong><br>
      Las redes de IoT y los datos que producen están operando en prácticamente todos los aspectos de la vida moderna: en nuestras casas, autos, tiendas e incluso en nuestros cuerpos.
    </p>
    <ul>
      <li><strong>Hogares inteligentes:</strong> Muchas personas ya están íntimamente familiarizadas con las redes de IoT en sus propias casas. Mediante conmutadores, sensores y dispositivos inteligentes que se comunican a través de protocolos como Z-Wave o Zigbee, los sistemas de automatización del hogar se pueden usar para monitorear y controlar cosas como iluminación, climatización, sistemas de seguridad, electrodomésticos y más, incluso desde lejos.</li>
      <li><strong>Redes inteligentes:</strong> Combinadas con IA y tecnología de analíticas avanzadas, las redes inteligentes usan soluciones de IoT para facilitar la integración de tecnología con el fin de ayudar a los consumidores a mejorar el racionamiento y comprender la energía que están usando, e incluso produciendo, a través de paneles solares y otros medios.</li>
      <li><strong>Ciudades inteligentes:</strong> Según el índice de ciudades inteligentes (SCI), se trata de “un entorno urbano que aplica tecnología para potenciar los beneficios y disminuir las deficiencias de la urbanización”.</li>
    </ul>

    <p>
      <strong>El futuro de IoT</strong><br>
      Lo que podemos esperar en el futuro es una integración más fluida entre la tecnología y la experiencia humana. Si bien el metaverso aún puede tardar algunos años, el audio 3D, la realidad virtual avanzada, las sensaciones hápticas y la personalización en tiempo real potenciada por IA significarán que nuestra interacción con los dispositivos que nos rodean permitirá experiencias sensoriales cada vez más "reales". Además, con el auge del 5G y la conectividad rápida globalmente ubicua, los humanos tendrán una capacidad cuántica para compartir estas experiencias a cualquier distancia. Las implicaciones de esto son vastas y tienen el potencial de cambiar nuestro modo de abordar algunas de nuestras actividades e instituciones más fundamentales, tales como lugares de trabajo, atención quirúrgica y médica, bienes raíces, compras, viajes y relaciones humanas en general.
    </p>
  </div>
</main>
