<app-navbar></app-navbar>
<main>
    <div class="left-page">
      <img src="https://i.ytimg.com/vi/s37S5pf6wn0/maxresdefault.jpg"/>
     
    </div>
    <div class="right-page">
      <h2>[ 2 ]</h2>
      <h1>Tunneling</h1>
      <p>
        El tunneling es la encapsulación de un protocolo de red dentro de otro. Es una técnica que permite el transporte de datos de una red a través de otra, 
        creando un "túnel" virtual a través de la red de transporte. Este método se utiliza para enviar datos de un extremo a otro de una red que podría no ser capaz 
        de admitir el protocolo de la capa superior directamente.<br>

        También ayuda a crear conexiones seguras a través de redes públicas, como Internet, mediante la encapsulación y cifrado de los datos. Esto es crucial para garantizar la 
        confidencialidad e integridad de la información transmitida. <br>

        Puede utilizarse para sortear restricciones de red, como firewalls o filtros de contenido. Al encapsular el tráfico en un protocolo que no es bloqueado, es posible transmitir 
        datos a través de redes que de otra manera podrían bloquear ciertos tipos de tráfico. <br>

        En algunos casos, el tunneling también puede utilizarse para mejorar el rendimiento de la red. Por ejemplo, puede permitir la creación de túneles dedicados para el tráfico de 
        ciertos tipos de datos, optimizando así la ruta de transmisión. <br>

        Los túneles se pueden crear utilizando diferentes tipos de protocolos. Algunos de los protocolos de tunelización más comunes son:

        <ul>
          <li>Point-to-Point Tunneling Protocol (PPTP): PPTP es un protocolo de tunelización simple que se utiliza para transportar el protocolo de red IP a través de una red que solo admite el protocolo de red IPX.</li>
            <li> Two Tunneling Protocol (L2TP): L2TP es un protocolo de tunelización más avanzado que PPTP. Admite el transporte de varios protocolos de red, incluidos IP, IPX, AppleTalk y NetBEUI.</li>
            <li>Secure Shell (SSH): SSH es un protocolo de tunelización seguro que se utiliza para transportar el protocolo de red IP a través de una red no segura.</li>
        </ul>

        Los túneles se utilizan en una variedad de aplicaciones, incluyendo:
        

        <ul>
          <li>Acceso remoto: Los túneles se pueden utilizar para proporcionar acceso remoto a redes privadas. Por ejemplo, un usuario puede utilizar un túnel para conectarse a su red corporativa desde su hogar.</li>
          <li>Intranets: Los túneles se pueden utilizar para crear intranets seguras. Una intranet es una red privada que solo es accesible para los empleados de una empresa.</li>
          <li>VPN: Los túneles se utilizan para crear redes privadas virtuales (VPN). Una VPN es una conexión segura entre dos redes, que puede utilizarse para acceder a recursos de una red desde otra red.</li>
        </ul>
    </div>
</main>
<app-footer></app-footer>